<div class="page-header">
	<h1>Guilds <small><%= link_to("Add a Guild", new_guild_path) if can? :new, Guild %></small></h1>
</div>

<% if current_user && !(current_user.world_id) %>
	<div class="alert alert-warning">
		<b>You have not set a world</b><br />
		The Guild Wars can hide all the guilds not on your world. Set your world in your user profile.
	</div>
<% end %>